# Gemini API key for the RAG generator
GEMINI_API_KEY=PUT_YOUR_GEMINI_API_KEY_HERE

# Web Fallback Settings
WEB_RETRIEVAL_THRESHOLD=1.2
MAX_WEB_RESULTS=3
SEARCH_TIMEOUT=10

# Neo4j Graph Database Credentials
NEO4J_URI=neo4j+ssc://5b58c7e0.databases.neo4j.io
NEO4J_USER=5b58c7e0
NEO4J_PASS=1MicthVv2tKboUcSp5o4OUlIByAlEMMKh6Y1PVSS8WE
